html:root {
	font-size: 16px;
}

.field-label {
	font-size: inherit;
}

.array-field__title {
	font-size: inherit;
}

.group-field__title {
	font-size: inherit;
}

.progress-bar {
	height: 4px;
}

.payload-settings {
	display: none;
}
