@reference '../global.css';

.inner {
	@apply py-4;
	@apply flex items-center flex-wrap;
}

.branding {
	@apply w-auto mr-auto;
}

.logo {
	@apply w-[62px] h-[28px] sm:w-[80px] sm:h-[36px];
	@apply flex items-start;

	img {
		@apply size-full;
		@apply object-contain;
	}
}
